.image-div {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 75vh;
  width: 100%;
}

.wrapper-2x1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

body:after {
  content: url('../pydayslogo.png');
  position: fixed;
  bottom: .5em;
  right: .5em;
  z-index: 100;
}
/*
  box-shadow: 5px 5px 10px #000;
  */
